.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: -1px -3px 23px 0px rgba(232,230,230,0.75);
    -webkit-box-shadow: -1px -3px 23px 0px rgba(232,230,230,0.75);
    -moz-box-shadow: -1px -3px 23px 0px rgba(232,230,230,0.75);

}
.chartTitle{
    margin-bottom: 20px;
}